@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
/*@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');*/

body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif;
    max-width: 100%;
    overflow-x: hidden ! important; 
}
.img1 {
    content:url('../images/1.png');
}
.img2 {
    content:url('../images/2.png');
}
.img3{
    content:url('../images/3.png');
}
.img4 {
    content:url('../images/4.png');
}
.img5 {
    content:url('../images/5.png');
}
.img6 {
    content:url('../images/6.png');
}
@media (min-width: 768px)
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-md-4{
position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;    
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;    
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.mb5{
    margin-bottom: 3rem!important;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}


.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left:15px
}

.our-services {
    margin-top: 75px;
    margin-bottom: 75px;
    /*padding-bottom: 30px;
    padding: 0 0px;*/
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff
}

.bgHover_1:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.bgHover_2:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.bgHover_3:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
}

.bgHover_4:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.bgHover_5:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
}

.bgHover_6:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
}